@{
    ViewBag.Title = "About us";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!-- page-banner-section
================================================== -->
<section class="page-banner-section">
    <div class="container">
        <h2>About Us</h2>
        <ul class="page-depth">
            <li><a href='index.html'>Healthcare</a></li>
            <li><a href='about.html'>About us</a></li>
        </ul>
    </div>
</section>
<!-- End page-banner section -->
<!-- about section
           ================================================== -->
<section class="about-section">
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <div class="about-post">
                    <img src="~/Content/images/upload/gallery/5.jpg" alt="">
                    <h2>Chúng ta là ai &amp; Chúng ta sẽ làm gì</h2>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                    <p>
                        Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint
                        occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
                    </p>
                </div>
            </div>
            <div class="col-md-6">
                <div class="about-post">
                    <!-- youtube -->
                    <iframe class="videoembed" width="560" height="315" src="https://www.youtube.com/embed/5CC-9AFuX3U" frameborder="0" webkitallowfullscreen="" mozallowfullscreen="" allowfullscreen=""></iframe>
                    <!-- End youtube -->
                    <h2>Mọi thứ các bạn cần biết về chúng tôi</h2>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                    <p>
                        Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint
                        occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
                    </p>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- End about section -->
<!-- services
    ================================================== -->
<section class="services-about-page">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="title-section alt-title">
                    <h1>Tại sao nên chọn chúng tôi</h1>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-4">
                <div class="flat-list list-left">
                    <ul>
                        <li class="content">
                            <h4 class="title">Bảo vệ răng</h4>
                            <p>Hãy bảo vệ những chiếc răng của bản thân, nó giúp ích bạn rất nhiều trong cuộc sống. </p>
                        </li>
                        <li class="content">
                            <h4 class="title">AENEAN LACINIA</h4>
                            <p>Nha khoa chúng tôi là nơi ưu tiên hàng đầu đặt lợi ích của khách hàng lên trên hết. </p>
                        </li>
                        <li class="content">
                            <h4 class="title">Chăm sóc răng miệng</h4>
                            <p>Những chuyên gia tận tình sẽ thay bạn chăm sóc, cải thiện răng miệng bạn tốt nhất . </p>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="col-md-4">
                <div class="single-image-services">
                    <img src="~/Content/images/featured-list.png" alt="images" />
                </div>
            </div>

            <div class="col-md-4">
                <div class="flat-list list-right">
                    <ul>
                        <li class="content">
                            <h4 class="title">SỨC KHỎE TỐI ĐA</h4>
                            <p>Một sức khỏe tối đa, một cuộc sống hạnh phúc. </p>
                        </li>
                        <li class="content">
                            <h4 class="title">THẾ GIỚI LỚN NHẤT</h4>
                            <p>Bạn có thể khám phá mọi thứ với một sức khỏe tốt nhất. </p>
                        </li>
                        <li class="content">
                            <h4 class="title">GIỚI THIỆU DỄ DÀNG</h4>
                            <p>Có thể cho bạn những trải nghiệm cũng như được tận mắt thấy những thứ chỉ có trên HUCARE. </p>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- End services -->
<!--Get An Appointment Section-->
<section class="get-appointment text-center">
    <div class="container">
        <div class="title-section">
            <h1>Chúng tôi có thể giúp gì cho bạn ?</h1>
        </div>
        <h3>Chúng tôi sẽ cho bạn một lựa chọn để có được một hàm răng khỏe mạnh.</h3>
        <p>Tay nghề của những chuyên gia HUCARE tuyển dụng cùng với công nghệ tiên tiến, không gì là không thể .</p>
        <a href='appointment.html' class='btn btn-default'>Book an Appointment</a>
    </div>
</section>
<!-- End Appointment section -->
<!-- team section
    ================================================== -->
<section class="team-section">
    <div class="container">
        <div class="title-section alt-title">
            <h1>BÁC SĨ TÀI NĂNG CỦA CHÚNG TÔI</h1>
        </div>
        <div class="row">
            <div class="col-md-3 col-sm-3">
                <div class="team-post">
                    <img src="~/Content/images/team/1.png" alt="">
                    <h2>Dr.Scott Riley</h2>
                    <span>Giám đốc y tế</span>
                    <p>Chúng tôi ưu tiên khách hàng, quyền lợi của khách hàng chúng tôi sẽ nắm bắt và giúp khách hàng có được những quyền lợi tốt nhất từ bên chúng tôi.</p>
                </div>
            </div>
            <div class="col-md-3 col-sm-3">
                <div class="team-post">
                    <img src="~/Content/images/team/4.png" alt="">
                    <h2>Dr. Levis Marot</h2>
                    <span>Chuyên gia phẫu thuật</span>
                    <p>Bạn đừng lo, mọi thứ hãy tin tưởng HUCARE, nơi ươm mầm những hy vọng cho mọi người.</p>
                </div>
            </div>
            <div class="col-md-3 col-sm-3">
                <div class="team-post">
                    <img src="~/Content/images/team/3.jpg" alt="">
                    <h2>Dr. Leslie Gross</h2>
                    <span>Vệ sinh răng miệng</span>
                    <p>Một nụ cười trắng sáng, một niềm vui mới, sức khỏe căng tràng trong ngày mới</p>
                </div>
            </div>
            <div class="col-md-3 col-sm-3">
                <div class="team-post">
                    <img src="~/Content/images/team/7.png" alt="">
                    <h2>Dr. Frank Roony</h2>
                    <span>Giám đốc phòng khám</span>
                    <p>Cam kết - An toàn - Chất lượng</p>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-3 col-sm-3">
                <div class="team-post">
                    <img src="~/Content/images/team/5.png" alt="">
                    <h2>DR. SILVA BRAZOKA</h2>
                    <span>Bác sĩ tim mạch</span>
                    <p>Hơn 30 năm trong nghề, kinh nghiệm dày dặn, kĩ thuật cao tay.</p>
                </div>
            </div>
            <div class="col-md-3 col-sm-3">
                <div class="team-post">
                    <img src="~/Content/images/team/2.png" alt="">
                    <h2>DR. ALEX CERMAK</h2>
                    <span>Bác sĩ phẫu thuật</span>
                    <p>Hãy thoải mái, vì đã có HUCARE</p>
                </div>
            </div>
            <div class="col-md-3 col-sm-3">
                <div class="team-post">
                    <img src="~/Content/images/team/6.png" alt="">
                    <h2>DR. VACLAV VODVARKA</h2>
                    <span>Nhà thính học</span>
                    <p>Bạn có nghe thấy gì không, HUCARE, nơi chăm sóc sức khỏe của mọi người</p>
                </div>
            </div>
            <div class="col-md-3 col-sm-3">
                <div class="team-post">
                    <img src="~/Content/images/team/8.png" alt="">
                    <h2>DR. ZDENEK KOLINOVA</h2>
                    <span>Bác sĩ nhi khoa</span>
                    <p>Những hạt mầm của tương lai đất nước, những thiên tài phát triển sau này, HUCARE chung tay góp phần ươm mầm những hạt giống ấy.</p>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- End team section -->